body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Mitr", Arial, sans-serif;
}

body {
  background-color: #f9f7f8;
}

.btncontact {
  position: absolute;
  right: 0;
  padding: 0.15rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #342d3b;
}

/* Home */
.navbar {
  background-color: #e8dfca;
}
.profile {
  display: flex;
  align-items: center;
  border: 0.2rem solid #e8dfca;
  border-radius: 1rem;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-description {
  margin-left: 2rem;
}

.profile-description h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.profile-description p {
  font-size: 14px;
  color: #555;
}
.content {
  justify-content: center;
  align-items: center;
  display: block;
}

/* Contact */

.contact {
  background-color: #e8dfca;
  padding: 0.1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  margin-bottom: 1rem;
}

.contact ul {
  list-style-type: none;
  text-align: center;
  margin-top: 1rem;
}

.contact li {
  margin-bottom: 0.5rem;
  color: #342d3b;
  font-weight: bold;
}

.contact a {
  color: #342d3b;
  text-decoration: none;
}

/* Experience */
.experience {
  text-align: center;
  margin-top: 2rem;
}

.experience h2 {
  margin-bottom: 2rem;
}

.cardEx-container {
  display: flex;
  justify-content: center;
}

.cardEx {
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
  background-color: #e8dfca;
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out;
}

.cardEx:hover {
  transform: translateY(-0.5rem);
}

.cardEx img {
  width: 100%;
  border-radius: 0.8rem;
}

.card-caption {
  margin-top: 1rem;
}

.card-caption h3 {
  margin-bottom: 0.5rem;
  color: #342d3b;
}

.card-caption p {
  color: #342d3b;
}
